@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&display=swap");



html,
body,
h1,
p {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  
}

.font-primary {
  font-family: "Inter", sans-serif;
}

.h-screen-ios {
  height: 100%;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  height: fill-available;
}
